<!DOCTYPE html>
<script>

    // getting the value of cookie
    let num = document.cookie.slice(document.cookie.indexOf("id="), document.cookie.indexOf("id=") + 67).replace("id=", "")

    // Function to make a HTTP GET Request for specific url
    function httpGet(theUrl) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", theUrl, false); // false for synchronous request
        xmlHttp.send(null);
        return xmlHttp.responseText;
    }

    // Function to make a HTTP POST request for specific url
    function httpPost(theUrl) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("POST", theUrl, false); // false for synchronous request
        xmlHttp.send(document.getElementById("edit").value);
        // return xmlHttp.responseText;
    }

</script>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/final">
        <label id="shared"></label><br><br>

        <label>Edit here:</label><br>
        <textarea id="edit" rows="10" cols="100" placeholder="">
        </textarea><br><br>
    </form>
    <input type="button" onclick="confirm()" value="Lock">

    <br><br>
    <div class="container">
        <div>
            <label id="sug1">
            </label><br>
            <input type="button" onclick="delsug()" value="delete">
            <input type="button" onclick="update()" value="update">
            <input type="button" onclick="seedoc()" value="Display document">
        </div>
    </div>

    <style>
        .highlight {
            background-color: #b4d5ff;
        }
    </style>

    <script src="../static/masterjs.js"></script>
</body>

</html>