<!DOCTYPE html>
<script>

    // Getting the value of the cookie
    let num = document.cookie.slice(document.cookie.indexOf("id="), document.cookie.indexOf("id=") + 67).replace("id=", "")
    console.log(num)

</script>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form>
        <label id="shared"></label><br><br>

        <label>Edit here:</label><br>
        <textarea id="edit" rows="10" cols="100" placeholder="">
        </textarea><br><br>
    </form>
    <input type="button" onclick="suggest()" value="suggest">
    <input type="button" onclick="seedoc()" value="Display document">
    <input type="button" onclick="sign()" value="Sign">

    <script src="../static/userjs.js"></script>
</body>

</html>